<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Renan Herrmann Tp 3</h1>
        <p class="lead">Tp 3 sobre API com banco de dados de amigos.</p>
        <p><a href="https://localhost:44340/api/Friends" class="btn btn-primary btn-md">Acesse o banco de dados &raquo;</a></p>
  
</main>